$primary-color: #333;
$white-color: #fff;
$turquoise-color: #1ABC9C;
$green-sea-color: #16A085;
$emerald-color: #2ECC71;
$nephritis-color: #27AE60;
$peter-river-color: #3498DB;
$belize-hole-color: #2980B9;
$amethyst-color: #9B59B6;
$wisteria-hole-color: #8E44AD;
$wet-asphalt-color: #34495E;
$midnight-blue-color: #2C3E50;
$sun-flower-color: #F1C40F;
$orange-color: #F39C12;
$carrot-color: #E67E22;
$pumpkin-color: #D35400;
$alizarin-color: #E74C3C;
$pomegranate-color: #C0392B;
$clouds-color: #ECF0F1;
$silver-color: #BDC3C7;
$concrete-color: #95A5A6;
$asbestos-color: #7F8C8D;